.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
 }
 .nav-title{
    color: rgb(13, 19, 33);
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;


width: 114px;
height: 34px;
left: 150px;
top: 50px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto ;
 }
 .nav-button {
 
width: 200px;
height: 50px;

align-items: center;
padding: 12px 18px 12px 18px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
justify-content: center;
display: flex;

opacity: 0.8;
}
.hero-bg {

width: 1440px;
height: 752px;
margin:0 auto ;

background: url("../assets/Hero-bg.png");
}
.banner {

width: 998px;
height: 582px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:  0 200px;
text-align: center;

}
.banner .banner-profile {
width: 240.28px;
height: 240px;

}
.banner .banner-title {
    color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.banner .banner-description {
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
.banner .btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: black;
    justify-content: center;
    display: flex;
    padding: 18px 12px 18px 12px;
}
.sec1 {

width: 1140px;
height: 852px;
left: 148px;
right: 152px;
top: 857px;
bottom: 2993px;
flex-direction: column;

padding: 80px 97px 80px 97px;
border-radius: 16px;

background: rgba(13, 19, 33, 0.02);

}
.sce2 {
width: 852px;
height: 115px;
margin: 0;
display: flex;


}
.sec2-title {
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.sec2-description {
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7 ;
}
.sec3 {
    width: 850px;
    height: 240px;
    display: flex;   

justify-content: space-between;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin:0px  32px 0px 32px ;

}

.sec4 {
width: 477px;
height: 220px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 98.8309326171875px;
}
.sec4 .sec4-title {
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.sec4 .sec4-description {
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;

}
.sec5 {
    width: 850px;
    height: 240px;
    display: flex;   
 flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin:0px  32px 0px 32px ;

}
.sec6 {
width: 477px;
height: 220px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 32px;
}
.sec6 .sec6-title {
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.sec6 .sec6-description {
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;

}

.sec7 {
    width: 850px;
    height: 240px;
    display: flex;   

justify-content: space-between;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin:0px  32px 0px 32px ;

}

.sec8 {

width: 477px;
height: 220px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 98.8309326171875px;
}
.sec8 .sec8-title {
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.sec8 .sec8-description {
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.sec9 {

width: 1140px;
height: 600px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 0 auto ;
border : whitesmoke;
border-radius: 16px;


}
.sec10 {

width: 852px;
height: 115px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 48px 0px;
}
.sec10 .sec10-title {
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.sec10 .sec10-description {
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.sec11 {

width: 1140px;
height: 463px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0 auto ;
margin-bottom: 200px;
}
.sec12 {

width: 852px;
height: 115px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
order: 0;
flex-grow: 0;
margin: 48px 0px;
} 
.sec12 .sec12-title {
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.sec12 .sec12-description {
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.sec13 { 
width: 1140px;
height: 300px;
display: flex;
justify-content: flex-start;
align-items: center;
padding: 0px ;

order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
}
.sec14 {
    
width: 364px;
height: 330px;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: flex-start;
padding: 40px;
order: 0;
margin: 12px 24px; 
border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
}
.sec14-im {
        width: 48px;
        height: 48px;

        background: rgb(255, 255, 255);
        }
 .sec14-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
} 
.sec14-description {
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7 ;
} 
.sec15 {
    width: 364px;
height: 330px;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: flex-start;
padding: 40px;
order: 0;
margin: 12px 24px; 
border-radius: 16px ;

background: rgba(0, 76, 232, 0.05);
}
.sec16 {
    width: 364px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    padding: 40px;
    order: 0;
    margin: 12px 24px; 
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
    
}
.sec17 {
width: 1140px;
height: 313px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 64px 48px 64px 48px;
border-radius: 16px;
border : 2px solid red ;
margin: 0 auto ;
 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
url("../assets/handshake.jpg") no-repeat center center/cover;
}
.sec18 {
    
width: 730px;
height: 104px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
margin: 0 auto ;
}
.sec18-title {
    color: rgb(255, 255, 255);

font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.sec18-description{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.sec19 {
    width: 730px;
height: 104px;
display: flex ;
justify-content: space-around;
align-items: center;
padding: 0px;
margin: 0 auto ;
}
.sec19-box {
width: 548px;
height: 57px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 12px 18px 12px 18px;
order: 0;
flex-grow: 0;
margin: 0px 12px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
}
.sec19-btn {

width: 120px;
height: 57px;
display: flex;
justify-content: center;
align-items: center;
padding: 12px 18px 12px 18px;
order: 1;
flex-grow: 0;
margin: 0px 16px;
border-radius: 8px;

background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.sec20{
  width: 1200px;
height: 100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 16px 32px 16px 32px;
border-radius: 16px;
margin: 0 auto ;
background: rgba(13, 19, 33, 0.03);

}
.sec21 {
width: 1100px;
height: 36px;
/* Auto layout */
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.sec21-text {
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
background: rgb(255, 255, 255);
}
.sec21-im {
width: 37.01px;
height: 36px;
order: 0;
margin: 0px auto ;
align-items: flex-end;
}

